.form {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  /* border: var(--border); */
  padding: 2rem;
  background-color: var(--grey-800);
  border-radius: var(--radius);
}

.formControl {
  margin-bottom: 1rem;
}

.label,
.input {
  display: block;
  width: 100%;
}

.label {
  margin-bottom: 0.5rem;
}

.input {
  padding: 0.5rem 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background: transparent;
  padding: 0.5rem 1rem;
  border: 0;
  cursor: pointer;
  text-transform: capitalize;
}

.formControl select {
  padding: 0.5rem 1rem;
  /* margin-top: 1rem; */
}

.checkbox {
  margin-left: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
